<div>
    @Html.ActionLink("Users", "Index", "Accounts")
</div>
<div>
    @Html.ActionLink("Positions", "Index", "Positions")
</div>
<div>
    @Html.ActionLink("Events", "Index", "Events")
</div>