@inherits System.Web.Mvc.WebViewPage

<div class='inviteByEmailContainer'>
    <div class='leftColumn'>
        <textarea></textarea>
    </div>
    <div class='rightColumn'>
        <div class='button' style='height: 15px;margin: 10px 7px;'>
            <a href='javascript:' class='inviteElement emailInviter'>Add</a>
        </div>
    </div>
    <div class='clear'></div>
</div>
