@inherits System.Web.Mvc.WebViewPage<LHASocialWork.Models.Event.EventButtonModel>

@using System.Web.Mvc;
@using System.Web.Mvc.Html;

<div class='joinEventButton button' style='height: 15px;margin: 10px 7px;'>
    @Html.RouteLink("Join", new { action = "join", Controller = "events", area = "", eventName = Model.EventName })
</div>