@inherits System.Web.Mvc.WebViewPage<LHASocialWork.Areas.Admin.Models.Accounts.AccountsModel>

@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using MvcContrib.UI.Grid;

@{
    View.Title = "Administration Manager - User Accounts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class='gridContainer'>
        <div class='gridTop'>
            <div class='gridTitle'>Users</div>
            <div class='gridTopLinks'>@Html.ActionLink("Create User", "Create")</div>
        </div>
        @Html.Grid(Model.Data).AutoGenerateColumns().Sort(Model.Options).Empty("There have been no users created.").Attributes(new Dictionary<string, object> { {"style", "width:585px"} })
    </div>
</div>
