@inherits System.Web.Mvc.WebViewPage

@using System.Web.Mvc.Html
@using System.Web.Mvc

@{
    View.Title = "AccessRestricted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You do not have permission to view this page.</h2>
